body {
  margin: auto;
  width: 70%;
}

p {
  color: rgb(32, 26, 26);
}

h1,
h2,
h3 {
  font: Arial, Verdana, Tahoma, sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

table,
th,
td {
  border: 1px solid black;
}
figcaption {
  font-style: italic;
}
figure {
  clear: right;
  float: right;
}

/* 
Контент занимает 70% ширины страницы.
Контент выровнен по середине.
Заголовки всех уровней выполнены шрифтом без засечек.
Верхний отступ заголовков установлен больше нижнего (например, 1.5em),.
Заголовки первого уровня имеют размер 32px.
Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.
Подписи под картинками выполены курсивом.
Картинки обтекаются текстом. Картинки справа, текст слева */
